---
http_interactions:
- request:
    method: get
    uri: https://api.magicthegathering.io/v1/sets/ktk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"70a0ae09b484e2ed0ad5ddb7554ee0a3"
    body:
      encoding: UTF-8
      string: '{"set":{"code":"KTK","name":"Khans of Tarkir","type":"expansion","border":"black","booster":[["rare","mythic
        rare"],"uncommon","uncommon","uncommon","common","common","common","common","common","common","common","common","common","common","land","marketing"],"releaseDate":"2014-09-26","magicCardsInfoCode":"ktk"}}'
  recorded_at: Thu, 21 Jan 2016 00:25:43 GMT
recorded_with: VCR 2.9.3
